html, body {
  height: 100%;
  width: 100%;
}

div {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

section {
/*   display: flex; */
  border-bottom: 1px solid slategray;
  padding: 20px 0px;
}

a {
  color: inherit;
}